/*resolver overlap de vez*/

/*Alterar o cover */
@media (min-width: 992px) {
  .masthead,
  .mastfoot,
  .cover-container,
  .redes .container {
    width: 90%;
  }
    
}
@media (min-width: 1167px) {
  .masthead,
  .mastfoot,
  .cover-container,
  .redes .container {
    width: 80%;
  }
}

.navbar-collapse {clear:both;}
@media (min-width: 768px) {
    .navbar-collapse {clear:none;}
}

.masthead-nav > li > a:hover,
.masthead-nav > li > a:focus {color:white; border-bottom-color:white;}

.icon-bar {background-color: #ffffff;}

html, body {background-color: #333; background:linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)),url("../temp3.jpg"); background-size:cover; background-position: center center; background-repeat:no-repeat; background-attachment: fixed; font-family:"Source Sans Pro",sans-serif; text-shadow: 2px 2px 3px rgba(0,0,0,.5);}

/*CSS próprio */
.hide-text, .logo {
text-indent: 100%;
white-space: nowrap;
overflow: hidden;
}

.cover:before {
    content: "";
    display: inline-block;
    height: 12vh;
    min-height: 100px;
}
.cover h1, .masthead-brand, .redes h3 {font-family:"Open Sans",sans-serif;}
.cover h1 {font-size:2.8em;font-weight:600;}
.cover p {font-size:2em;}
.masthead-nav li a {font-size:1.1em;}
.redes .container {margin-left:auto;margin-right: auto;margin-top:40px;}
.redes ul {padding-left:0px; padding-top:10px;}
.redes li {display:inline-block; padding: 0px 30px;}
.redes li a:hover {color:rgba(255,255,255,.75);}
.redes p {font-size:1em;}
.btn:hover {background-color:rgba(255,255,255,.75);}

.logo {background:url(../banner-m.png); background-size:contain; width:175px; height:50px;display:inline-block;float:left;}

@media (min-width: 500px) {
    .logo {background:url(../banner-a.png); background-size:100%;width:37.5vw;height:5vw;background-repeat:no-repeat;min-height:50px;min-width:375px; max-width:750px}
}