/*resolver overlap de vez*/

/*Alterar o cover */
@media (min-width: 992px) {
  .masthead,
  .mastfoot,
  .cover-container
  {
    width: 90%;
  }
}

@media (min-width: 1200px) {
  .masthead,
  .mastfoot,
  .cover-container
  {
    width: 80%;
  }
}

.navbar-collapse {clear:both;}

@media (min-width: 768px) {
    .navbar-collapse {clear:none;}
    .redes .container#left {display:inline-block !important;}
}

.masthead-nav > li > a:hover,
.masthead-nav > li > a:focus {color:white; border-bottom-color:white;}

.icon-bar {background-color: #ffffff;}

html, body {font-family:"Source Sans Pro",sans-serif; text-shadow: 2px 2px 3px rgba(0,0,0,.5);}

.site-wrapper {background-color: #333; /*background:linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)),url("../bg/12-a.png");*/ background-size:cover; background-position: center center; background-repeat:no-repeat; background-attachment: fixed;}

/*CSS próprio */
.hide-text, .logo {
    text-indent: -9000em;
    white-space: nowrap;
    overflow: hidden;
}

.cover:before {
    content: "";
    display: inline-block;
    height: 12vh;
    min-height: 100px;
}
.cover h1, .masthead-brand, .redes h3 {font-family:"Open Sans",sans-serif;}
.cover h1 {font-size:2.8em;font-weight:600; margin-top:0;}
.cover p {font-size:2em;}
.masthead-nav li a {font-size:1.2em;}

.cover-heading strong {color:#FED222;}

.logo {background:url(../banner-m.png); background-size:contain; width:175px; height:50px;display:inline-block;float:left;}

@media (min-width: 500px) {
    .logo {background:url(../banner-a.png); background-size:100%;width:37.5vw;height:5vw;background-repeat:no-repeat;min-height:50px;min-width:375px; max-width:750px}
}
.redes .container#left {display:none;float:left; padding:0; margin:auto; text-align: left; width: auto; height:5em;}
.redes .container#right {display:inline-block;float:right; padding:0; margin:auto; text-align: right; width: auto; height:5em;}
.redes .container#left > p {display:inline-block;line-height:5em;vertical-align:middle;}
.redes .container#right ul {display:inline-table;vertical-align:middle;border-spacing:10px;padding-left:0;}
.redes .container#right > p {display:inline-block;}
.redes li {display:table-cell; vertical-align:middle; text-align: center;text-shadow:none; width:3.25em; height:3em; padding-top:0.5em; border-radius:50%;}
.redes li#facebook, .facebook {background-color:#3b5998; border-color:#3b5998;}
.redes li#instagram, .instagram {background-color:#125688; border-color:#125688;}
.redes li#youtube, .youtube {background-color:#bb0000; border-color:#bb0000;}
.redes li#snapchat, .snapchat {background-color:#fffc00; border-color:#fffc00;}
.fa-snapchat {text-shadow:
   -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
     1px 1px 0 #000,
    -1px 0px 0 #000,
    1px 0px 0 #000;
}
.redes li a:hover {color:rgba(255,255,255,.75);}
.redes p {font-size:1em;}
.btn-default:hover {background-color:rgba(255,255,255,.75);}
.btn {white-space: normal; text-shadow:none;}

.flipclock {display:none;}

@media (min-width: 720px) {
    .flipclock {display:inline-flex; left:0; right:0;}
    .flipclock .flip-clock-label {color:#fff;}
    #countdown {display:none;}
}
    
.embed-responsive {margin-bottom:20px; float:none;}
/*.cover {text-shadow: 0px 0px 3px rgba(0,0,0,1);}*/