/*resolver overlap de vez*/

/*Alterar o cover */
@media (min-width: 992px) {
  .masthead,
  .mastfoot,
  .cover-container,
  .redes .container {
    width: 80%;
  }
}

.masthead-nav > li > a:hover,
.masthead-nav > li > a:focus {color:white; border-bottom-color:white;}

.icon-bar {background-color: #ffffff;}

html, body {background-color: #333; background:linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)),url("../temp3.jpg"); background-size:cover; background-position: center center; background-repeat:no-repeat; background-attachment: fixed; font-family:"Source Sans Pro",sans-serif; text-shadow: 2px 2px 3px rgba(0,0,0,.5);}

/*CSS próprio */
.cover {padding-top:100px;} /*Temp*/
.redes .container {margin-left:auto;margin-right: auto;margin-top:40px;}
.redes ul {padding-left:0; padding-top:10px;}
.redes li {display:inline-block;padding:0 30px;}

.cover h1, .masthead-brand, .redes h3 {font-family:"Open Sans",sans-serif;}
.cover h1 {font-size:32pt;font-weight:600;}
.cover p {font-size:18pt;}
.redes h3 {font-size:24pt;}
.redes p {font-size:12pt;}