/* Kuler
000000
0F1325
10415C
6B97A8
F0BA04
F6C905 */

body {
  padding-top: 70px;
}


html,body {font-family:"Source Sans Pro",sans-serif;}
h1, h3 {font-family:"Open Sans",sans-serif;font-weight:600;}